@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0b0b0b;
  /* rgb(48, 56, 65)*/
  --secondary-color: #363535;
  /* rgb(58, 71, 80) */
  --third-color: #fa1313;
  /* rgb(215, 35, 35) */
  --forth-color: #eeeeee;
  /* rgb(238, 238, 238) */
}

body {
  @apply bg-white dark:bg-primary-color text-[#363535]
}
